body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.orange-color {
  color: orange;
}
h1 {
  color: dimgray;
  font-size: 57px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -2px;
}
.para-color {
  color: dimgray;
  margin-bottom: 41px;
}

section {
  display: flex;
  margin-top: 80px;
}
.half-width {
  width: 50%;
  padding-left: 6%;
}
#top-banner-div {
  padding-top: 100px;
}
.half-width img {
  width: 89%;
  padding-left: 0%;
  padding-top: 5px;
}
.order-link {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(tomato, orange);
  border-radius: 34px;
  padding: 20px;
}
.middle-section {
  background-image: url(image/7.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}
h2 {
  color: dimgray;
  font-size: 30px;
}
#middle-women {
  margin-left: 70px;
  width: 34%;
}
#about-me {
  padding: 99px;
  line-height: 30px;
  margin-left: 37px;
}
.middle-para {
  margin-top: 38px;
  margin-bottom: 54px;
}
.contact-link {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(tomato, orange);
  border-radius: 34px;
  padding: 20px;
}
.recipe-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recepi-list {
  margin: -14px 345px;
}
.recepi-list p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: dimgray;
}
.father-food-div {
  display: flex;
  padding: 20px;
  margin: 100px;
}
.food-div {
  margin: 0% 3%;
  margin-right: 1%;
  box-shadow: 5px 5px 15px grey;
  border-radius: 15px;
}
.food-div img {
  width: 90%;
  padding: 3%;
  height: 332px;
}
.food-padding {
  padding: 10px;
}
.last {
  position: relative;
  margin: 4% 6% 0 6%;
  padding: 8%;
  box-shadow: 1px 1px 30px rgb(190 189 189);
  border-radius: 35px;
}
.last div {
  display: block;
}
.last1 {
  position: absolute;
  top: 25%;
  left: 20%;
  font-weight: 700;
}
.last2 {
  position: absolute;
  top: 25%;
  left: 45%;
  font-weight: 700;
}
.last3 {
  position: absolute;
  top: 25%;
  left: 70%;
  font-weight: 700;
}

.footer-div {
  position: absolute;
  width: 100%;
  height: 240px;
  background-color: black;
  margin: 1%;
  padding: 28px 520px;
  margin-top: 100px;
}
.orange2 {
  color: brown;
}
#ft {
  color: white;
}
